<p id="notice"><%= notice %></p>



<h1>Styles</h1>


<dl>
  <% @styles.each do |style| %>
    <dt><%= link_to style.name, style %></dt>
    <dd><%= style.description %></dd>
    <br>
  <% end %>
</dl>

<%= link_to 'New Style', new_style_path, class:"btn btn-primary" if current_user %>
